<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="utf-8">
		<!-- go away, robots -->
		<meta name="robots" content="noindex">
		<!-- i'm not really sure what this does i just know it makes the website more adaptable to different screens -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- pls no index on search engine thx -->
		<meta name="robots" content="noindex">
		<!-- import our compiled SCSS stylesheet -->
		<link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		<title>{{ site.title }}</title>
	</head>

	<body>
		{{ content }}
	</body>
</html>
