---
layout: default
---
<div class="content">
	<a href="{{ site.baseurl }}" id="back-button">&lsaquo; back</a>
	<h1 id="post-title">{{ page.title }}</h1>
	<!--
	 If there aren't tags:
	 7 jul 2021
	 If there are tags:
	 7 jul 2021 | tag 1, tag 2, tag 3
	-->
	<h3 id="post-subtitle">
		{{ page.date | date: "%-d %b %Y"}}
		{% if page.tags.size != 0 %} | 
			{% for tag in page.tags %}
				{{ tag }}{% if tag != page.tags.last %}, 
				{% endif %}
			{% endfor %}
		{% endif %}
	</h3>
	<div id="post-contents">
		{{ page.content }}
	</div>
</div>
